{% extends "admin/change_list.html" %}
{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/changelists.css' %}">
{% endblock %}

{% block object-tools-items %}
    {{ block.super }}
    <li>
        <a href="{% url 'admin:recreation_gameteam_sync_teams' %}" class="addlink">
            팀 목록 동기화
        </a>
    </li>
    <li>
        <a href="{% url 'recreation:scoreboard' %}" target="_blank" class="addlink" style="background-color: #007bff;">
            실시간 점수판 보기
        </a>
    </li>
{% endblock %}