{% extends "admin/change_list.html" %}
{% load static %}

{% block object-tools-items %}
    {{ block.super }}
    <li>
        <!-- [수정] 단순화된 URL 이름으로 변경 -->
        <a href="{% url 'admin:profiles_person_import' %}" class="addlink">
            엑셀로 일괄 등록하기
        </a>
    </li>
    <li>
        <!-- [수정] 단순화된 URL 이름으로 변경 -->
        <a href="{% url 'admin:profiles_person_export' %}" class="addlink" style="background-color: #28a745;">
            전체 명단 다운로드 (QR 포함)
        </a>
    </li>
{% endblock %}
